%div#sidebar_content
  - remote_form_for :report, :url => report_path(report), :html => {:method => :put, :id => "main_form"} do |f|
    %fieldset.span-9
      %legend
      %table
        %tr.location
          %td 
            %label{:for=>"location"} Location:
          %td 
            = text_field_tag 'location', (report.location.nil?) ? '' : report.location.address, :size => 20, :class => "text"
        %tr.tags
          %td
            %label{:for=>"tags"} Tags:
          %td
            = text_field_with_auto_complete( :report, :tag_list, {:size => 32, :class => "text"}, { :indicator => "report_#{report.id}_tag_s_spinner", :frequency => 0.4, :tokens => [' ',','] }, report.id)
            = image_tag 'spinner.gif', :id => "report_#{report.id}_tag_s_spinner", :style => 'display:none;'
      %h3
        = submit_tag 'Save!'
      %h5 
        = link_to_remote 'Cancel', { :url => report_path(report), :method => :get }
