%table{:id => "report_#{report.id}"}
  %tbody
    %tr
      %td.image= image_tag(report.reporter.icon || "", :class => "profile")
      %td.author
        %span{ :class => "author vcard"}
          =h report.reporter.name
          %br
          =h report.uniqueid
          %br
          - if report.location
            in
            %span{ :class => "adr" }= report.location.address if report.location
          via 
          =report.reporter.source_name
      %td.text
        %p
          = auto_link(h(report.body))
          - if report.is_a?(AudioReport)
            Listen to this audio report:
            = audio_link(report)
        %p
          %label Wait
          = display( report.tags.to_s )
          %label Tags
          = display( report.tags.to_s )
          %label Location
          = (report.location.nil?) ? 'Undefined' : report.location.address
      %td.controls{:style => "width: 350px"}
        = link_to_remote content_tag(:span, 'Adjust'), { :url => edit_report_path(report), :method => :get }, :id => "report_#{report.id}", :class => "button"
        = link_to_remote content_tag(:span, 'Dismiss'), { :url => dismiss_report_path(report), :method => :post }, :id => "report_#{report.id}", :class => "button"
        = link_to_remote content_tag(:span, 'Confirm'), { :url => confirm_report_path(report), :method => :post }, :id => "report_#{report.id}", :class => "button"
        = link_to_remote content_tag(:span, 'Mark as chatter'), { :with => "'report[is_chatter]=1'", :url => dismiss_report_path(report), :method => :post }, :id => "report_#{report.id}", :class => "button"