<div id="report_<%= report.id %>" class="report_div">
<div class="report_wrapper">
  <ul id="<%= dom_id(report) %>" class="hentry report">
    <li class="timestamp">    
       <% if report.source=="Twitter" %>
     	  <a href="http://twitter.com/<%=report.reporter.screen_name%>/statuses/<%=report.uniqueid%>">
     	    <%=time_ago_in_words(report.created_at)%> <span class="ago">ago</span>
     	  </a> 
   	  <% else %>  	
         <abbr class="published" title="<%= report.created_at.iso8601 %>">
           <%=time_ago_in_words(report.created_at)%>
         </abbr> 
         <span class="ago">ago</span>
   	  <% end %>
   	</li>
	  
    
    <li class="title">
      <span class="entry-title"><%= report.title || report.display_text %></span>
      <span class="entry-text"><%= report.display_text unless report.title.blank? %></span> 
    </li>
	  
    
      <%= "<li class=\"adr\">#{report.location.address}</li>" if report.location %> 
        <li class="source">
          <span class="vcard author screen_name"><%=report.reporter.display_name%></span>
          <span class="via">via</span> 
          <% if report.source=="Twitter" %>
      	    <%= link_to image_tag(report.reporter.icon || "", :class => "profile", :target=>"new"), report.reporter.profile || "" %>
      	  <% else %>
            <img src="<%=report.reporter.icon%>" class="profile">
      	  <% end %>
          <span class="sourcename"><%=report.reporter.source_name%></span>
        </li>

    </ul>
</div>
  <div class="markup_pane">
    <span class="tagger">      
      <ul id="taglist"> 
      
      <%- report.tags.each do |tag| %>
        <li class="tag"> <%= tag.description.to_s %></li>
      <%- end %>
  
      <%- unless report.location.nil? %>
        <li class="location tag"><%= report.location.address %></li>
      <%- end %>

      <%- if report.is_a?(PhotoReport) %>
        <li class="photoreport tag"><%= image_tag report.url %></li>
      <%- end %>

      <%- if report.is_a?(AudioReport) %>
        <li class="audioreport tag">Listen to this audio report:<%= audio_link(report) %></li>
      <%- end %>
      
     <li> 
      <%- remote_form_for :report, :url => report_path(report), :html => {:method => :put} do -%>
      <%= text_field :report, :tags, :class => "tagger" , :size => 20%>
      <%= submit_tag 'Tag' %>
      <%- end -%></li>
</ul>      
    </span>
    
    <%#= link_to_remote content_tag(:span, 'Adjust'), { :url => edit_report_path(report), :method => :get }, :class => "adjust button" %>
    <%= link_to_remote content_tag(:span, 'Promote'), { :url => confirm_report_path(report), :method => :post }, :class => "promote button" %>
    <%= link_to_remote content_tag(:span, 'Dismiss'), { :url => dismiss_report_path(report), :method => :post }, :class => "dismiss button" %>
    <%= link_to_remote content_tag(:span, 'Mark as chatter'), { :with => "'report[is_chatter]=1'", :url => dismiss_report_path(report), :method => :post }, :class => "chatter button"%>
  
</div>
</div>