-# content_for :style do
- content_for :javascript do
  = javascript_tag "var reviewer_timeout;"  # used to reset the reviewer's timeclock for the batch of reports

= render :partial => 'reviewer_alert', :collection => current_user.unviewed_alerts

%div#maincontent.span-10
  %p.clear
    = link_to_remote content_tag(:span,"Get More Reports"), |
      { :url => assign_reports_path, :method => :post,  :after => "startReviewerClock();"}, :class => "button" |
  #reports
  <!-- =render :partial => "report_review", :locals => {:report => @reports.first} -->

%div#sidebar.push-1.span-10.last.container
  %hr#space
  = render :partial => "reviewer_sidebar"

-#
  %h2 Add tags to this report:
  %form#main_form{:method=>"put",:action=>"/reports/#{@reports.first.id}"}
    %fieldset.span-9
      %legend
      %table
        %tr.rating
          %td
            %label.importance Importance:
          %td
            %input{:type=>"radio", :name=>"importance"}
            %img{:src=>"/stylesheets/blueprint/plugins/buttons/icons/tick.png"} Important
            %br
            %input{:type=>"radio", :name=>"importance"}
            %img{:src=>"/stylesheets/blueprint/plugins/buttons/icons/cross.png"} Spam
          %td
            %input{:type=>"submit", :value=>"+"}
        %tr.mood
          %td
            %label Mood:
          %td
            %input{:type=>"checkbox", :name=>"good"}
            %span.smiley :)
            %input{:type=>"checkbox",:name=>"normal"}
            %span.smiley :|
            %input{:type=>"checkbox",:name=>"bad"}
            %span.smiley :(
          %td
            %input{:type=>"submit", :value=>"+"}
        %tr.person
          %td
            %label{:for=>"person"} Person
          %td     
            %input#person.text{:type=>"text",:name=>"report[person]",:value=>""}
          %td     
            %input{:type=>"submit", :value=>"+"}
        %tr.organization
          %td 
            %label{:for=>"organization"} Organization:
          %td    
            %input.text#organization{:type=>"text", :name=>"organization",:value=>"Organization Name"}
          %td    
            %input{:type=>"submit",:value=>"+"}
        %tr.place
          %td 
            %label{:for=>"place"} Place:
          %td 
            %input.text#place{:type=>"text", :name=>"place", :value=>""}
          %td 
            %input{ :type=>"submit", :value=>"+"}
        %tr.violations
          %td
            %label.violations Reports Violations of Electoral Code:
          %td
            %select
              %option Forged Vote
              %option Violence
              %option Voter Bribing
              %option Voting Machine Problems
              %option Inflammatory Speech
              %option Voter Name Missing
          %td
            %input{ :type=>"submit", :value=>"+"}
        %tr.notes
          %td
            %label{:for=>"notes"} Notes:
          %td
            %textarea.text#tags{:name=>"tags",:value=>"type anything here"}
          %td
            %input{ :type=>"submit", :value=>"+"}
      %h3
        %input{:type=>"submit", :value => "Save and go to Next Report"}
      %h5 
        %a{:href=>"/reports/release"} (Skip) 
