<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <%= render :partial => 'layouts/head' %>
  <body>
  <div id="container">  

    <p style="notice"><%= flash[:notice] %></p>

    <div id="content"><%= yield  %></div>
    <div id="sidebar">
        <div id="sidebar">
          <%= render :partial => "layouts/navigation" %>
        </div>
    </div>
    <div id='footer'>
      <%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>